extends ../layouts/common
block content
  .d-flex.align-items-center.justify-content-end.m-3
    form.form-inline.my-2.my-lg-0(action="/books/search", method="GET")
      input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search', name="q", value=value)
      button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
      
  if isAdmin
    a.btn.btn-primary(href="/books/add", class='d-inline-block mb-3 font-weight-bold') Add
  table(class="table")
    thead(class="thead-light")
      tr
        th(scope="col") Title
        th(scope="col") Cover
        th(scope="col") Actions
    tbody
      each book in books
        tr
          td(style="text-transform: capitalize")= book.title
          td
            img.cover.img-64.img-fluid(src=`${book.coverUrl ? book.coverUrl : "https://cdn.glitch.com/b5afea55-2ff2-49ba-be5d-73e2b1ac3b55%2Fapple-icon-60x60.png?v=1598791527457"}`)   
          td
            if isAdmin
              a(href="/books/update/"+book._id, class="btn btn-outline-primary mr-2") Update
              a(href="/books/delete/"+book._id, class="btn btn-outline-danger") Delete
            if !isAdmin
              a.btn.btn-outline-primary(href="/cart/add/" + book._id) Add to cart
  if numOfPages > 1
    nav.mt-3
      ul.pagination.justify-content-center
        li.page-item
            a.page-link(href='/books?page=1') First

        li.page-item(class= currentPage === 1 ? 'disabled' : '')
          a.page-link(href='/books?page=' + (currentPage - 1)) &laquo

        if(numOfPages < 3)
          - for(let i = 1; i <= numOfPages; i++)
            li.page-item(class = currentPage === i ? 'active' : '')
              a.page-link(href='/books?page=' + i)= i

        else
          if (currentPage === 1) 
            - for (let i = 1; i <= 3; i++)
              li.page-item(class= currentPage === i ? 'active' : '')
                a.page-link(href='/books?page=' + i)= i

          else if (currentPage === numOfPages)
            - for (let i = 2; i >= 0; i--)
              li.page-item(class= currentPage === (numOfPages - i) ? 'active' : '')
                a.page-link(href='/books?page=' + (numOfPages - i))= numOfPages - i

          else      
            - for (let i = currentPage - 1; i <= currentPage + 1; i++)
                li.page-item(class= currentPage === i ? 'active' : '')
                  a.page-link(href='/books?page=' + i)= i

        li.page-item(class= currentPage === numOfPages ? 'disabled' : '')
          a.page-link(href='/books?page=' + (currentPage + 1)) &raquo

        li.page-item
            a.page-link(href='/books?page=' + numOfPages) Last